/* Importando fontes */
@font-face {
    font-family: Determination;
    src: url('../scr/determination.otf')
}
/* Primeiras definições */
html{
    box-sizing: border-box;
    height: 100%;
}

*, *::before, *::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    user-select: none; /* Desativa a seleção de texto do usuário*/
}
body {
    align-items: center;
    display: flex;
    height: inherit;
    justify-content: center;
    background: #000;
    background-image: url(../img/ruins.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    text-align: center;
    min-height: 100vh;
    color: #fff;
    font-family: Determination;
    
}

/* Conteúdo*/
main {
    display: inline-block;
    position: relative;
    
}

footer {
    display: inline-block;
    position: absolute;
    bottom: 4px;
    font-size: 1em;
}

td{
    padding-left: 20px;
}

a, a:visited{   color: #ff8015; }
a:hover{    color: #FFFF00; }

#widget-menu, #widget-status{
    position: relative;
    bottom: 55%;
    left: 50%;
    transform: translate(-63%, 20%);
    padding: 2em;
    background-color: #000;
    border: solid 7px #fff;
}

#widget-status{    margin-bottom: 2em; }

#titulo{
    font-size: 2.5em;
    text-transform: uppercase;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

 #texto{    font-size: 1.5em; }

/* Menu */
.menu-link { /*barra do fundo*/
    text-align: left;
    width: 7.6em;
    -webkit-transition-duration: .60s;
    -moz-transition-duration: .60s;
    -o-transition-duration: .60s;
    transition-duration: .60s;
    }

.menu-link a { /*fonte do menu*/
    color: #fff!important;
    font-size: 1.5em;
    text-decoration: none;
}

.menu-link a::before {
    display: inline-block;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s;
    margin-right: 15px;
    content: '♥';
    color: red;
    -webkit-transform: translatex(20px);
    -moz-transform: translatex(20px);
    transform: translatex(20px);
 }

.menu-link a:hover::before,.menu-link a:focus::before {
    opacity: 1; 
    -webkit-transform: translatex(0px); 
    -moz-transform: translatex(0px);
    transform: translatex(0px);
 }